[submodule "Hobo.Route53Ddns/modules/Hobo.BackgroundJob"]
	path = Hobo.Route53Ddns/modules/Hobo.BackgroundJob
	url = git@github.com:hobointhecorner/Hobo.BackgroundJob.git
	branch = v1
[submodule "Hobo.Route53Ddns/modules/Hobo.Log"]
	path = Hobo.Route53Ddns/modules/Hobo.Log
	url = git@github.com:hobointhecorner/Hobo.Log.git
	branch = v1
[submodule "Hobo.Route53Ddns/modules/Hobo.Pref"]
	path = Hobo.Route53Ddns/modules/Hobo.Pref
	url = git@github.com:hobointhecorner/Hobo.Pref.git
	branch = v1
